html {
  box-sizing: border-box;

  font: normal 100%/1.5 sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  min-width: 320px;
  overflow: auto;
}

.banner {
  background-color: #2b3851;
  height: 237px;
}

.robot {
  width: 320px;
  display: flex;
  margin: 0 auto;
  height: 237px;
  align-content: center;
}

.robot-body {
  width: 320px;
  top: 50px;
  position: absolute;
}

.robot-brain {
  width: 46px;
  position: relative;
  top: -20px;
  left: 137px;
}

.robot-head-left {
  top: -20px;
  right: -110px;
  position: relative;
}

.robot-head-right {
  top: -20px;
  right: -110px;
  position: relative;
}

.robot:hover > .robot-head-left {
  top: -26px;
  left: -169px;
}

.robot:hover > .robot-brain {
}

.robot:hover > .robot-head-right {
  top: -26px;
  right: -149px;
}
